
h1 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(249, 212, 0);
    text-align: center;
}


h2,h5 {
    color: rgb(0, 0, 0);
    text-align: center;
}
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size:larger;
}
h5 {
    font-family: 'Roboto', sans-serif;
}
header h2 {
    text-align: center;
    color: aliceblue;
}

body {
    background-color: rgb(0, 0, 0);
}

nav {
    text-align: center;
    color: rgb(0, 0, 0);
}

header {
    background-color: rgb(0, 0, 0);
    max-height: 200px;
}


.container {
    background-color: rgb(249, 212, 0);
    width: 100%;
    max-width: 1000px;
    margin: 1.6em auto;    
}

.container div {
 border: solid black;
}

.container img {
width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}
main section  h3 {
 
    text-align: center;
}
footer {
    font-family: 'Roboto', sans-serif;
    color: white;
}

