/* Small/Phone View ***************/
nav {
    font-family: 'PT Sans', sans-serif;
    font-size: 8px;
	background-color: #BC7024;
    color:#f8cca3;
	
}
nav ul  {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
nav ul.open {
    display: block;
}
nav button {
    margin: .2rem;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #114B5F;
}

nav ul li a {
	display: block;
	padding: .8rem 2vw;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: 8rem;
}

nav ul li.ham {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}




/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

nav a:hover {
	background-color: #114B5F;
	color: #BC7024;
}
header {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 10px;
}


p {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}
header {
    color: white;
}
header,
footer {
	background-color: #114B5F;
    color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.logo img {
    width: 100px;
    height: 110px;
}
header h1 {
    color: #fff;
}
header h2 {
    color: #fff;
}

.social {
	margin-right: 1.5rem;
}
footer {
    text-align: center;
}
footer img {
    width: 50px;
    height: 60px;
}

.site-name {
    background-color: #9dc9d7;
    height: 200px;
    width: 450px;
    margin: auto;
    display: flex;
}
.event {
    background-color: #9dc9d7;
    height: 200px;
    width: 450px;
    margin: auto;
}
.weather {
    background-color: #9dc9d7;
    height: 200px;
    width: 450px;
    margin: auto;
}
.new {
    background-color: #9dc9d7;
    height: 200px;
    width: 450px;
    margin: auto;
}
.spot {
    background-color: #9dc9d7;
    height: 200px;
    width: 450px;
    margin: auto;
}



